.container {
    position: absolute;
    width: 1900px;
    height: 150vh;
    left: 0px;
    top: 0px;
    bottom: 0px;
    border-radius:20px ;
    background: #ED7200;
    box-shadow: 0px 4px 35px rgba(162, 58, 0, 0.75);
    
  }
 
 .background{
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 50px;
    height: 130vh;
    background: linear-gradient(0deg, #FF8B2C 1.71%, #FF8D2A 4.22%, #FFA413 37.82%, #FFB105 69.39%, #FFB600 96.65%);
    opacity: 0.8;
    border-radius:20px ;
}
/*-------------------------*/  

.main{
    float: right;
    list-style: none;
    margin-right: 20%;
    margin-top: 40px;
}
  
.main li{
    display: inline-block;
    margin-right: 40px;
}
  
.main li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 700;
    transition: all .3s;
    border-radius: 2px;
}
  
.main li a:hover,
.main li a:active{
    border-bottom: 1px solid #b2adfc;
}

/*--------------------*/
.logo{
    position: absolute;
    width: 229px;
    height: 91px;
    left: 200px;
    top: 1px;
}

/* ----------- */
h1{
    text-align: center;
    font-size: 90px;
    color: white;
    padding-top: 50px;
    
}

/* ------------- */

.khung1{
    position: absolute;
    width: 1550px;
    height: 800px;
    margin-left: 120px;
    background: #FDE8B3;
    background: #FDE8B3;
    border-radius:35px ;
    box-shadow: 0px 20px #FFCA7B;
}

.khung2{
    width: 1500px;
    border-radius: 35px;
    border: 3px dashed #FFB489;
    margin-left: 20px;
    margin-top: 15px;
    background: #FFF6D4;
    height: 760px;
}
/* -------------- */
.damsen{
    margin-left: 70px;
    font-size: 20px;
    
}

.date{
    margin-left: 70px;
    margin-top: 480px;
    font-size: 20px;
    
}

.vnd{
    margin-top: -5px;
    position: absolute;
    font-size: 45px;
    color: #FA7D09;
    font-weight: bold;
    margin-left: 70px;
    
}

.sukien4{
    Width: 411px;
    Height: 337px;
    position: absolute;
    margin-top: 100px;
    margin-left: 70px;
    border-radius: 10px;
}
/* --------------- */
.chu{
    position: absolute;
    left: 535px;
    right: 715px;
    top: 100px ;
    bottom:100px ;


    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px; 
    line-height:30px;

    
    display: flex;
    align-items: center;
    text-align: justify;
    
    color: #FA7D09;
}

span{
    font-size: 20px;
    color: black;
}

/* -------- */
.sukien1{
    position: absolute;
    Width:288px;
    Height:208px;
    float: right;
    margin-top: -34%;
    margin-left: 54.5%;
}

.chu2{
    position: absolute;
    left: 56%;
    right: 25.5%;
    top: 33%;
    bottom: 14.53%;
    
    /* 18 medium */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    /* or 144% */
    
    display: flex;
    align-items: center;
    text-align: justify;
    
    color: #000000;
    
}  

/* --------- */
.chu3{
    position: absolute;
    left: 76.5%;
    right: 5%;
    top: 10.5%;
    bottom: 51.38%;


    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

  

    display: flex;
    align-items: center;
    text-align: justify;

    color: #000000;

}

.sukien2{
    position: absolute;
    width: 288px;
    height: 208px;
    right:5%;
    top: 400px;

}