.container {
    position: absolute;
    width: 1900px;
    height: 150vh;
    left: 0px;
    top: 0px;
    bottom: 0px;
    border-radius:20px ;
    background: #ED7200;
    box-shadow: 0px 4px 35px rgba(162, 58, 0, 0.75);
    
  }
 
 .background{
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 50px;
    height: 130vh;
    background: linear-gradient(0deg, #FF8B2C 1.71%, #FF8D2A 4.22%, #FFA413 37.82%, #FFB105 69.39%, #FFB600 96.65%);
    opacity: 0.8;
    border-radius:20px ;
}
/*-------------------------*/  

.main{
    float: right;
    list-style: none;
    margin-right: 20%;
    margin-top: 40px;
}
  
.main li{
    display: inline-block;
    margin-right: 40px;
}
  
.main li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 700;
    transition: all .3s;
    border-radius: 2px;
}
  
.main li a:hover,
.main li a:active{
    border-bottom: 1px solid #b2adfc;
}

/*--------------------*/
.logo{
    position: absolute;
    width: 229px;
    height: 91px;
    left: 200px;
    top: 1px;
}

/* ----------- */
h1{
    text-align: center;
    font-size: 120px;
    color: white;
    padding-top: 50px;
    font: bold;
    
    
}

/* ------------- */
.khung1{
    position: absolute;
    width: 1400px;
    height: 700px;
    margin-left: 205px;
    background: #FDE8B3;
    background: #FDE8B3;
    border-radius:35px ;
    box-shadow: 0px 20px #FFCA7B;
}
.khung2{
    position: absolute;
    width: 800px;
    border-radius: 35px;
    border: 3px dashed #FFB489;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FFF6D4;
    height: 675px;
}
/* ---------- */
.khung3{
    position: absolute;
    width: 500px;
    border-radius: 35px;
    border: 3px dashed #FFB489;
    margin-left: 880px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FFF6D4;
    height: 675px;
}
/* ---------- */
.logo1{
    position: absolute;
    float: left;
    margin-left: -15px;
    Width :320px;
    Height: 590px;
    margin-top: 110px;
}
/* ----------- */
.ticket-1{
    margin-left: 120px;
    margin-top: -50px;
    width: 380px;
    height: 80px;
    border: 2px dashed #FFFFFF;
    background: linear-gradient(176.02deg, #FF000A -12.67%, #C2000B 101.08%);
    border-radius:20px ;



}

.text-ticket{
    padding-left: 20px;
    font-weight: 900;
    font-size: 28px;
    color: #FFFFFF;

}
/* ----------- */
.ticket-2{
    margin-left: 60px;
    margin-top: -50px;
    width: 380px;
    height: 80px;
    border: 2px dashed #FFFFFF;
    background: linear-gradient(176.02deg, #FF000A -12.67%, #C2000B 101.08%);
    border-radius:20px ;



}

.text-ticket2{
    padding-left: 20px;
    font-weight: 900;
    font-size: 28px;
    color: #FFFFFF;
}


.formm{
    display: flex;
}

/* ----------- */

.p1{
    position: static;
    margin-left: 120px;
    margin-bottom: 10px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;


    color: #23221F;

}
.sotien{
    position: static;
    width: 200px;
    height: 56px;
    margin-Left: 120px;
    margin-bottom: 30px;
    font-size: 15px;
    padding-left: 20px;
    font-weight: bolder;

    background: #FFFFFF;

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
}

/* ----------- */

.p2{
    position: static;
    margin-left: 50px;
    margin-bottom: 10px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;


    color: #23221F;

}
.sove{
    position: static;
    width: 55px;
    height: 56px;
    margin-Left: 50px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 20px;

    background: #FFFFFF;

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
}



/* ----------- */

.p3{
    position: static;
    margin-left: 70px;
    margin-bottom: 10px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;


    color: #23221F;

}
.day{
    position: static;
    width: 150px;
    height: 56px;
    margin-Left: 70px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 20px;

    background: #FFFFFF;

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
}

/* ---------- */
.p4{
    position: static;
    margin-left: -625px;
    margin-top: 150px;
    margin-bottom: 10px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;


    color: #23221F;

}
.thongtin{
    position: static;
    width: 350px;
    height: 56px;
    margin-left: -625px;    
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 20px;

    background: #FFFFFF;

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
}
/* ---------- */
.p5{
    position: static;
    margin-left: -625px;
    margin-top: 280px;
    margin-bottom: 10px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;


    color: #23221F;

}
.sdt{
    position: static;
    width: 200px;
    height: 56px;
    margin-left: -625px;    
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 20px;

    background: #FFFFFF;

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
}
/* ---------- */
.p6{
    position: static;
    margin-left: -625px;
    margin-top: 400px;
    margin-bottom: 10px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;


    color: #23221F;

}
.email{
    position: static;
    width: 350px;
    height: 56px;
    margin-left: -625px;    
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 20px;

    background: #FFFFFF;

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
}
/* ------------ */
.p7{
    position: static;
    margin-left: 50px;
    margin-bottom: 10px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;


    color: #23221F;

}
.sothe{
    position: static;
    width: 350px;
    height: 56px;
    margin-Left: 50px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 20px;

    background: #FFFFFF;

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
}
/* ------------ */
.p8{
    position: static;
    margin-left: -370px;
    margin-top: 150px;
    margin-bottom: 10px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;


    color: #23221F;

}
.hoten{
    position: static;
    width: 350px;
    height: 56px;
    margin-left: -375px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 20px;

    background: #FFFFFF;

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
}
/* ------------ */
.p9{
    position: static;
    margin-left: -370px;
    margin-top: 280px;
    margin-bottom: 10px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;


    color: #23221F;

}
.day1{
    position: static;
    width: 150px;
    height: 56px;
    margin-left: -375px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 20px;

    background: #FFFFFF;

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
}
/* ------------ */
.p10{
    position: static;
    margin-left: -370px;
    margin-top: 400px;
    margin-bottom: 10px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;


    color: #23221F;

}
.CVV{
    position: static;
    width: 80px;
    height: 56px;
    margin-left: -375px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bolder;
    padding-left: 20px;

    background: #FFFFFF;

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
}
/* ----------- */
.thanhtoan{
    
    position: static;
    margin-top: 540px;
    margin-Left: -310px;

    width: 300px;
    height: 60px;
    background: #FF000A;
    border-radius: 16px;
    font-size: 28px;
    color: white;
    font-family: iCiel Koni;
    font-weight: 900;
    transition: all 0.3s;
    box-shadow: 0px 5px  #93000A ;
    

}

.thanhtoan:hover,
.thanhtoan:active{
    background: #93000A ;
}

