.wpcf7-form input {
    border-radius: 6px;
    /* Makes the edges rounded */
}

.wpcf7-form textarea {
    border-radius: 6px;
    /* Makes the edges rounded */
}

.wpcf7-form .wpcf7-submit {
    background: #00a6ca;
    /* This edit the button colour */
}

.wpcf7 .wpcf7-text,
.wpcf7 .wpcf7-textarea {
    text-indent: 45px;
}

.wpcf7 p {
    position: relative;
}

.wpcf7 p .fa {
    position: absolute;
    color: #666666;
    z-index: 100;
    font-size: 18px;
    top: 28%;
    left: 1.5%;
}

.wpcf7 p .fa-pencil {
    top: 5%;
    left: 1.5%
}

.col-xs-2 {
    background: #00f;
    color: #FFF;
}

.col-half-offset {
    margin-left: 4.166666667%
}

input {
    width: 1001px;
    height: 56px;
    /* Grey / 1 */
    background: #F5F6F7;
    /* Bdazzled Blue / Color 3 */
    border: 1px solid #749CC6;
    box-sizing: border-box;
    border-radius: 4px;
}

.form-contacts {
    position: relative;
    width: 1920px;
    height: 1486px;
}

.form-box {
    position: absolute;
    margin-left: 460px;
}

h2 {
    margin: 0 20px;
    /* Roboto / 64 Light */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    letter-spacing: 0.1em;
    /* Bdazzled Blue / Default */
    color: #315377;
}

.text {
    width: 700px;
    margin: auto;
    display: flex;
}

.frame-left {
    background-color: red;
    left: 396px;
    top: 140px;
}