
/* ------------------------------------------------- */
/* ------------------Header------------------------ */
header{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(49, 83, 119, 0.15);
    height: 90px;
}

.main{
    float: right;
    list-style: none;
    margin-right: 380px;
    margin-top: 30px;
}

.main li {
    display: inline-block;
    margin-right: 30px;
}

.main li a {
    position: static;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #030609;
}

.main li a:hover,
.main li a:active{
    color: #4677AB;
    transition: all .3s;
}


.clearfix::after{
    content:" ";
    display: table;
    clear: both;
}


.logo{
    position: absolute;
    margin-left: 150px;
    margin-top: 10px;
}


/* ------------------------------------------------- */
/* ------------------background------------------------ */

.ASIA{
    position: absolute;
    margin-left: 45%;
    margin-top: 80px;
    Width :125px;
    Height :97px;
}

p{
    position: absolute;
    margin-left: 53.5%;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    letter-spacing: 0.005em;

    color: #315377;

}

.quat1{
    margin-top: 250px;
    margin-left: 110px;
    Width:180px;
    Height:150px;

    background: #F5F6F7;
    border-radius: 16px;
}

.quat{
    margin-top: 250px;
    margin-left: 10px;
    Width:180px;
    Height:150px;

    background: #F5F6F7;
    border-radius: 16px;
}

/* ------------------------------------------------- */
/* ------------------backgroundtwo------------------------ */


.ASIA1{
    margin-top: 200px;
}

.ASIA-FA{
    position: absolute;
    Width: 810px;
    Height:1106px;
    margin-left: 46%;
    margin-top: -1110px;
}

.Banner{
    margin-top: 50px;
    Width: 1510px;
}

.Warranty{
    width: 544px;
    height: 150px;
    margin-top: 55px;
    margin-left: 200px;
}

.Quality{
    float: right;
    width: 544px;
    height: 150px;
    margin-top: -155px;
    margin-right: 200px;
}

/* ------------product--------------- */

.pd{

    position: absolute;
    margin-left: 37%;

    /* Roboto / 64 Light */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.1em;

    /* Bdazzled Blue / Default */

    color: #315377;
}