.san-pham-noi-bat {
    position: relative;
    height: 396px;
    width: 1920px;
    background-color: #FFFFFF;
}

.san-pham {
    position: absolute;
    top: 35px;
    display: flex;
    width: 1700px;
    height: 250px;
    margin-left: 120px;
    text-align: center;
}

.san-pham a {
    color: black;
}

.san-pham a:hover {
    text-decoration: none;
}

.thumnail {
    width: 264px;
    height: 170px;
}